<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469249435585-kng2kgkaf7vfuucjkl52u46h52u1ljr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469249435585-kng2kgkaf7vfuucjkl52u46h52u1ljr1</string>
	<key>API_KEY</key>
	<string>AIzaSyBazv4LYaMKdXAIBKShTpj2emhynn8nXn4</string>
	<key>GCM_SENDER_ID</key>
	<string>469249435585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps-language.KannjiApp</string>
	<key>PROJECT_ID</key>
	<string>mlkit-language-640fa</string>
	<key>STORAGE_BUCKET</key>
	<string>mlkit-language-640fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469249435585:ios:7a293d76542727b2f87140</string>
	<key>DATABASE_URL</key>
	<string>https://mlkit-language-640fa.firebaseio.com</string>
</dict>
</plist>